@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'ClashDisplay-Variable';
        src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
        font-style: normal;
        font-weight: 300 400 500 700;
    }

    html, body {
        height: 100%;
    }
}