---
import "../styles/globals.css";
import Header from "../components/header.astro";
import Main from "../components/main.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sendover</title>
  </head>
  <body class="flex overflow-hidden min-h-screen bg-green-400">
    <div class="flex-grow w-full">
      <Header />
      <Main />
    </div>
  </body>
</html>
