---
import "../styles/globals.css";
import Header from "../components/header.astro";
import { Main } from "../components/react/main";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sendover</title>
  </head>
  <body>
    <div
      class="w-full max-w-7xl mx-auto my-0 bg-slate-100 border-solid border-4 border-t-color-pink border-l-color-yellow border-r-color-yellow border-b-color-pink"
    >
      <Header />
      <Main client:load />
    </div>
  </body>
</html>
