---
const { name } = Astro.props;
---

<button
  class="px-24 uppercase font-semibold tracking-wide py-8 text-white relative cursor-pointer bold border-transparent"
>
  <span class="border-black border-2 border-solid rounded"></span>
  <span class="border-black border-2 border-solid rounded"></span>
  <span class="border-black border-2 border-solid rounded">{name}</span>
</button>

<style>
  button {
    --bg-color-1: #121212;
    --bg-color-2: #ffd433;
    --bg-color-3: #ff90e8;

    --active: 0;
  }

  button:is(:hover, :focus-visible) {
    --active: 1;
  }

  button:before,
  button:after {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: transform 600ms ease-in-out;
    top: 0;
    left: 0;
  }

  span {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background: var(--bg);
    transition: 0.2s ease;
    transform: translate(
      calc((var(--active) * var(--coefficient)) * -0.5rem),
      calc((var(--active) * var(--coefficient)) * -0.5rem)
    );
  }

  span:nth-of-type(1) {
    --coefficient: 0;
    --bg: var(--bg-color-2);
  }

  span:nth-of-type(2) {
    --coefficient: 1;
    --bg: var(--bg-color-3);
  }

  span:nth-of-type(3) {
    --coefficient: 2;
    --bg: var(--bg-color-1);
  }

  button:active {
    --active: 0.5;
  }
</style>
