---
import { TextArea } from "./reactComponents/textarea";
import { Button } from "./reactComponents/button";
import { GridTop } from "./reactComponents/gridTop";
import { SendLink } from "./reactComponents/sendLink";
import { ReceiveLink } from "./reactComponents/receiveLink";
---

<main class="h-full border-t-2 border-color-dark">
  <GridTop client:load />
  <div class="flex w-full h-full">
    <section class="basis-1/4 bg-color-pink p-6 pt-24">
      <h2 class="font-semibold text-5xl leading-[50px] mb-4">
        Share link from one device to another
      </h2>
      <p class="font-medium text-base mb-12">
        Ever been frustrated by the inability to quickly share a link from your
        Pc to your Mac and vice-versa, sendover is here to help.
      </p>
      <Button name="Paste Link" client:idle />
    </section>

    <section class="flex-1 flex gap-4 bg-color-yellow p-6 pt-24">
      <SendLink client:load />
      <ReceiveLink client:load />
    </section>
  </div>
</main>
