---
import { TextArea } from "./reactComponents/textarea";
import { Button } from "./reactComponents/button";
import { GridTop } from "./reactComponents/gridTop";
---

<main class="w-full">
  <div
    class="h-full grid grid-cols-3 grid-rows-layout w-full border-t-2 border-color-dark"
  >
    <GridTop client:load />
    <section class="bg-color-pink p-6 pt-24 h-screen">
      <h2 class="font-semibold text-5xl leading-[50px] mb-4">
        Share link <br /> from PC to <br /> Mac over Wifi
      </h2>
      <p class="font-medium text-base mb-12">
        Ever been frustrated by the inability to <br /> quickly share a link from
        your Pc to your <br /> Mac and vice-versa, sendover is here to <br /> help.
      </p>
      <Button name="Paste Link" client:idle />
    </section>

    <section class="flex flex-col col-span-2 bg-color-yellow p-6 pt-24">
      <TextArea client:idle />
      <div class="self-end relative top-2 flex gap-6">
        <Button name="send" client:load />
        <Button name="receive" client:load />
      </div>
    </section>
  </div>
</main>
