<main class="w-full">
  <div
    class="h-full grid grid-cols-3 grid-rows-layout w-full border-t-2 border-color-dark"
  >
    <p
      class="p-6 border-r-2 border-b-2 border-color-dark font-medium text-base"
    >
      send to: <span class="pl-4 text-[32px] font-semibold">Windows</span>
    </p>
    <p
      class="p-6 border-r-2 border-b-2 border-color-dark font-medium text-base"
    >
      Network: <span class="pl-4 text-[32px] font-semibold">Wifi</span>
    </p>
    <p class="p-6 border-b-2 border-color-dark font-medium text-base">
      Current Device: <span class="pl-4 text-[32px] font-semibold">MACOS</span>
    </p>

    <section class="bg-color-pink p-6 pt-24 h-screen">
      <h2 class="font-semibold text-5xl leading-[50px] mb-4">
        Share link <br /> from PC to <br /> Mac over Wifi
      </h2>
      <p class="font-medium text-base mb-12">
        Ever been frustrated by the inability to <br /> quickly share a link from
        your Pc to your <br /> Mac and vice-versa, sendover is here to <br /> help.
      </p>
      <button
        class="text-white px-16 py-3 bg-color-dark rounded uppercase font-medium text-2xl"
      >
        Paste Link</button
      >
    </section>

    <section class="flex flex-col col-span-2 bg-color-yellow p-6 pt-24">
      <textarea
        class="pt-4 font-mono pl-8 block resize-none w-full h-72 rounded mb-4"
        name="link"
        id="link"
        placeholder="Paste link here..."
      >
      </textarea>
      <button
        class="text-white px-24 py-3 bg-color-dark rounded uppercase self-end font-medium text-2xl"
        >Send</button
      >
    </section>
  </div>
</main>
